.contact-section{
    padding: 50px 0;
    background-color: #f7f7f7;
}

.contact-section-sub{
    margin-bottom: 10px;
    color: #939393;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

}

.contact-section-head{
    font-weight: 700;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    line-height: 60px;
    margin: 0 0 15px;
    padding: 0;
    letter-spacing: -1px;
    text-align: center;
    padding-inline: 20%;
    padding-bottom: 5%;

}

.map-img{
    width: 20%;
    margin: 10%;
}

.address-section{
    background-color: #1c1c1c;  
}
.head-address-section{
    background-color: #302d2d;
}

.address-title{
    margin-bottom: 5px;
    font-weight: 600;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center!important;
}
.address-text-muted{

    text-align: center!important;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
}


@media(max-width:768px){
    .contact-section-sub {
        font-size: 10px;
        line-height: 19px;
    }
    .contact-section-head {
        font-size: 40px;
        line-height: 55px;
        margin: 0 0 0px;
        padding: 0;
        padding-inline: 25%;
        padding-bottom: 5%;
    }
    .contact-location{
        height: 200px;
    }
    .address-title{
        margin-bottom: 0px;

    }
    .address-text-muted{

        font-size: 11px;
        color: #ffffff;
        font-weight: 400;
        line-height: 4px;
    }
    
}