.form-title {
    color: #232323;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 15px;
    padding: 0;
    letter-spacing: 0;
}

.form-group {
    margin-bottom: 5%;
}

.btn-hover-contact {
    background: transparent;
    border-color: #232323;
    color: #232323;
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
    margin-top: 20px;
    letter-spacing: .5px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
}

.btn-hover-contact:hover {
    background: #232323;
    border-color: #232323;
    color: #ffffff;
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
}


@media(max-width:768px){
    
}